@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';
@theme {
  --color-*: initial;
  /* Primary Colors */
  --color-marine-blue: #02295a;
  --color-purplish-blue: #473dff;
  --color-pastel-blue: #adbeff;
  --color-light-blue: #bfe2fd;
  --color-strawberry-red: #ed3548;
  /* Neutral Colors */
  --color-cool-gray: #9699ab;
  --color-light-gray: #d6d9e6;
  --color-magnolia: #f0f6ff;
  --color-alabaster: #fafbff;
  --color-white: #ffffff;
}

body {
  font-family: 'Ubuntu', sans-serif;
  @apply m-0 bg-magnolia;
}
